<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 101 - 1° de Preparatoria</title>
    <link rel="stylesheet" href="../static/12.css">
</head>
<body>
    <h1>Lista de Alumnos - Grupo 101 (1° de Preparatoria)</h1>
    <table>
        <tr>
            <th>Número de Control</th>
            <th>Nombre Completo</th>
            <th>Grupo</th>
            <th>Grado</th>
            <th>Turno</th>
            <th>Reportes</th>
        </tr>

        <tr><td>25415082630003</td><td>JESUS SEBASTIAN ORTIZ GUTIERREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630005</td><td>YAEL MARTIN CASTILLO ESTRADA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630008</td><td>LEONARDO FRANCO ESPINO CHAVEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630009</td><td>ABRAHAM EDGARDO DIAZ GALINDO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630010</td><td>MARIANA ITZEL ROMERO MORALES</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630011</td><td>LANDON OSWALDO MARTINEZ CAÑAS</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630015</td><td>NATALIA ISABELLA MUCIÑO ENCINO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630016</td><td>FERNANDO HERNANDEZ LINO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630017</td><td>CESAR SANTIAGO GARCIA GONZALEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630019</td><td>ALLISON ESTRELLA MEJIA CALDERON</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630020</td><td>ITZEL ROSAS GALVAN</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630021</td><td>XIMENA ABIGAIL PEREZ MARTINEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630025</td><td>JULIETA PEREZ GUTIERREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630027</td><td>VICTOR URIEL RUIZ TELLEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630030</td><td>DAFNE REGINA GOMEZ FLORES</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630034</td><td>CRISTOPHER MANUEL LOPEZ NAVA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630037</td><td>CARLOS ALEXANDER MONTIEL CURRILLA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630046</td><td>NERI PAULETTE ALMARAZ DOMINGUEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630054</td><td>SANTIAGO GARCIA CAYETANO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630056</td><td>CRISTIAN URIEL GOMEZ PEREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630059</td><td>DAYANA CAROLINA MUCIÑO GUTIERREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630062</td><td>RICARDO CRUZ MARTINEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630071</td><td>MANUEL SEBASTIAN PEREZ REYES</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630073</td><td>MAURA ISABELAA GUTIERREZ GUTIERREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630076</td><td>OSCAR ISAC HERRERA LUZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630077</td><td>VALENTINA REYES GUTIERREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630079</td><td>JOSE MARTIN TOLEDO SANTIAGO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630081</td><td>BEATRIZ ADRIANA TOLENTINO TECO</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630084</td><td>PAULINA MARISOL HERRERA MIRANDA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630087</td><td>ZURI NAOMI TOMAS MARTINEZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630089</td><td>MARIA JOSE MARTINEZ CAXNAJOY</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630091</td><td>YAHEL ASAID VILCHIS MONTOYA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630095</td><td>EVELIN AMAYRAMI ROMERO PEREZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630124</td><td>TIMBERLI KIARA SERRANO CRUZ</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630131</td><td>LESLIE ABIGAIL SEDEÑO ESPINOSA</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630151</td><td>FERNANDO EMMANUEL GUTIERREZ TEPOZAN</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630154</td><td>PAOLA MICHELLE PEREZ REYES</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630155</td><td>DANIELA JUDITH ESQUIVEL GUZMAN</td><td>101</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
    </table>
    <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 101 Matutino</footer>
</body>
</html>
