<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 102 - 1° de Preparatoria</title>
    <link rel="stylesheet" href="../static/12.css">
</head>
<body>
    <h1>Lista de Alumnos - Grupo 102 (1° de Preparatoria)</h1>
    <table>
        <tr>
            <th>Número de Control</th>
            <th>Nombre Completo</th>
            <th>Grupo</th>
            <th>Grado</th>
            <th>Turno</th>
            <th>Reportes</th>
        </tr>

        <tr><td>25415082630002</td><td>ANGEL DE JESUS VAZQUEZ ENCENFE</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630012</td><td>ABRIL SHERIDAN RAMIREZ JULIAN</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630013</td><td>LETICIA ALEXA SILVA VELASCO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630014</td><td>MIA MILILLIANY RETE ORIBIO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630018</td><td>MALILLANY CHANTAL GUTIERREZ RIVERO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630022</td><td>LUIS ENRIQUE RAMIREZ CALVARIO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630029</td><td>KEVIN YAHIR LINARES RODRIGUEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630031</td><td>ABRIL VALERIA VALTIERRA MARTINEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630033</td><td>GETHSEMANI VALTIERRA MARTINEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630035</td><td>LUIS MANUEL EMBA FALCON</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630039</td><td>JONATHAN ZARETH RETANA MONTIEL</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630041</td><td>ADRIANA CIPRIANO CRUZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630044</td><td>SEBASTIAN RAMOS JACOBO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630045</td><td>JADE SARAI MUCIÑO REYES</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630048</td><td>HAMLET SOLANO HERNANDEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630049</td><td>BRANDON YAEL SANTIAGO EMETERIO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630053</td><td>SAMADHI CAYETANO FONSECA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630064</td><td>MARINA ITZEL JUAREZ NAVA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630068</td><td>EDWIN JOAN LUCAS FLORES</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630069</td><td>RAYMUNDO ANASTACIO GUTIERREZ FERREYRA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630070</td><td>URIEL VAZQUEZ VELEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630074</td><td>SARAHI ANGELES MARTINEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630075</td><td>VALENTINA GUTIERREZ ROMERO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630078</td><td>MIGUEL SALVADOR CHAMORRO DIAZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630080</td><td>SAHORY SHERLYN MONI AGUSTIN</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630082</td><td>VALERIA RAMIREZ GUTIERREZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630085</td><td>MARIELA GUADALUPE ZAVALA PEÑA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630086</td><td>RODRIGO GASCA CASTILLO</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630090</td><td>PEDRO ORTEGA NAVA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630092</td><td>DENISE GERALDIN GRANDE FONSECA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630125</td><td>CRISTIAN ALBERTO BASTIDA HUERTA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630126</td><td>ERIK JAIMES GARCIA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630127</td><td>MARIAM GARCIA MONTOYA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630143</td><td>JOSE ARMANDO ELLEYO PELAEZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630145</td><td>CRISTOPHER PANTALEON ZARATE</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630149</td><td>FRIDA DANIELA MORALES ENTZANA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630150</td><td>YESSICA ODET DE LOS SANTOS GUTIERREZ</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
        <tr><td>25415082630153</td><td>ASTRID FERNANDA VELAZCO ALDAMA</td><td>102</td><td>1° de Preparatoria</td><td>Matutino</td><td>0</td></tr>
    </table>
    <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        <footer>© 2025 | Registro Académico - Grupo 102 Matutino</footer>
</body>
</html>
