<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 103 - 1° de Preparatoria</title>
    <link rel="stylesheet" href="../static/12.css">

</head>
<body>
    <h1>Lista de Alumnos - Grupo 103 (1° de Preparatoria)</h1>
    <table>
        <tr>
            <th>Número de Control</th>
            <th>Nombre Completo</th>
            <th>Grupo</th>
            <th>Grado</th>
            <th>Turno</th>
            <th>Reportes</th>
        </tr>

        <tr><td>25415082630004</td><td>SANDRA ESMERALDA MARTINEZ SALAZAR</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630007</td><td>VANESSA GARCIA MIRANDA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630058</td><td>MAYA MEJIA DE LA LUZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630060</td><td>ALONDRA LUCERO MONTOYA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630065</td><td>IVANNA JATZIRI CAMACHO FRANCISCO</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630072</td><td>AXEL AARON OLVERA IBAÑEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630094</td><td>MELISA DIAZ RIOS</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630097</td><td>DEREK RODRIGUEZ CARMONA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630100</td><td>JENNIFER MORALES REYES</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630102</td><td>KEVIN ALEXIS ALEJANDRE PEREZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630104</td><td>ALEJANDRO LUIS LOPEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630105</td><td>MARITZA GUADALUPE PEREZ VELARDE</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630106</td><td>DAYLIN ALVARADO ORTIZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630107</td><td>CRISTIAN ARTURO PEREZ SANCHEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630109</td><td>JORGE VILLAR GARCIA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630110</td><td>JOCELIN PIEDRA MUCIÑO</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630111</td><td>MARIA JOSE CRUZ RUIZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630112</td><td>CESAR ANDRES ACOSTA MENDOZA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630113</td><td>MARCO ABRAHAM MENDOZA MUCIÑO</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630114</td><td>EMMANUEL FUENTES ORDOÑEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630115</td><td>SANTIAGO VILLAR GARCIA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630116</td><td>FERNANDA PEREZ NUÑEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630117</td><td>JOSE FRANCISCO CRISTOBAL GRANADOS</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630118</td><td>ZEIN MAXIMILIANO RUIZ LOZANO</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630119</td><td>JUAN DIEGO SANCHEZ DURAN</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630120</td><td>ANTONIO RAFAEL COMBOY CARDENAS</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630121</td><td>IAN YAEL CHAVEZ SANCHEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630122</td><td>MELANY ASTRIL CORTES MONI</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630123</td><td>MARCO ANTONIO CHICHO ROMERO</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630132</td><td>ERIK RAMIREZ MONTOYA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630135</td><td>VIRIDIANA POLLETT GAÑA REYES</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630138</td><td>MIGUEL ANGEL SANCHEZ SALAZAR</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630139</td><td>ROMINA VALENTINA GARCIA PEREZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630140</td><td>DAYANA MONTOYA ALVA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630142</td><td>MARIO IAN TOVAR ALVA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630144</td><td>RENATA MARTINEZ BONILLA</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630147</td><td>JOCELIN MENDOZA HERNANDEZ</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630152</td><td>EMANUEL GUTIERREZ ARZATE</td><td>103</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
    </table>
    <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 103 Vespertino</footer>
</body>
</html>
