<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 104 - 1° de Preparatoria</title>
    <link rel="stylesheet" href="../static/12.css">

</head>
<body>
    <h1>Lista de Alumnos - Grupo 104 (1° de Preparatoria)</h1>
    <table>
        <tr>
            <th>Número de Control</th>
            <th>Nombre Completo</th>
            <th>Grupo</th>
            <th>Grado</th>
            <th>Turno</th>
            <th>Reportes</th>
        </tr>
        <tr><td>25415082630006</td><td>DANNA PAOLA ATANACIO SANTIAGO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630023</td><td>TADEO GARCIA ALMANZA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630024</td><td>ARMANDO ARTEAGA SOLIS</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630026</td><td>JIMENA MORENO FLORES</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630028</td><td>JUAN MANUEL GONZALEZ RAMOS</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630032</td><td>BARBARA NATALIA PEREZ HERNANDEZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630036</td><td>YENYFER IVANNA NAVA PEDROZA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630038</td><td>SAUL CEDRO GONZALEZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630040</td><td>ADILENE MARTINEZ ABUNDIO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630042</td><td>NAHOMY VANESSA ESCAMILLA NAVA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630043</td><td>JOSE MIGUEL GUTIERREZ NAVA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630047</td><td>RENE ALEXANDER CARANDIA LORENZO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630050</td><td>RAFAEL HERNANDEZ DE LA CRUZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630051</td><td>FATIMA CALVARIO RICO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630052</td><td>FATIMA XIMENA VALENCIA SOTO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630055</td><td>ANGEL GABRIEL PALAS PIEDRA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630057</td><td>AURORA BENITEZ RIZO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630061</td><td>ERICK SEBASTIAN OROZCO LOREDO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630063</td><td>ESMERALDA CAYETANO MONDRAGON</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630067</td><td>LESLIE CAMILA CASTRO FLORES</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630083</td><td>KARLA PAULINA TOVAR HERRERA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630088</td><td>YARETZI GUADALUPE RIVAS MIRA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630093</td><td>EDWIN DONOVAN LUCAS PLASCENCIA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630096</td><td>JUAN EMILIO TEJE HERNANDEZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630098</td><td>BRAULIO ANDRES CRUZ DURAN</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630101</td><td>DANIELA FONSECA SEVERO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630103</td><td>MITZIMAYA CAYETANO ZARZA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630108</td><td>ANGEL GABRIEL GONZALEZ JUAREZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630128</td><td>ARIANA PEREZ FLORES</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630129</td><td>GIOVANNY GARCIA ROMERO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630130</td><td>ANGEL GABRIEL ANDRADE GARCIA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630133</td><td>SALVADOR CERVANTES SALAS</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630134</td><td>HEBER JARED RODRIGUEZ SERRANO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630136</td><td>JAQUELINE GARCIA SANTIAGO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630137</td><td>BRANDON HUMBERTO GARCIA ZAMUDIO</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630141</td><td>VALENTINA LOPEZ HERNANDEZ</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630146</td><td>LEONARDO DAVID IBAÑEZ GARCIA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
        <tr><td>25415082630148</td><td>FRANCISCO HERMENEGILDO GARCIA</td><td>104</td><td>1° de Preparatoria</td><td>Vespertino</td><td>0</td></tr>
    </table>
    <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 104 Vespertino</footer>
</body>
</html>
