<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 301 - Matutino - 3° Semestre</title>
    <link rel="stylesheet" href="../static/12.css">

</head>
<body>
    <h1>Lista de Alumnos - Grupo 301 - Turno Matutino - 3° Semestre</h1>

    <table border="1" cellspacing="0" cellpadding="6">
        <thead>
            <tr>
                <th>Número de Control</th>
                <th>Nombre Completo</th>
                <th>Turno</th>
                <th>Grupo</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>24415082630008</td><td>MARIJOSE FONSECA GRANADOS</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630009</td><td>NATHALI CAMILA GONZALEZ LAGUNA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630011</td><td>JOSE GUADALUPE REYNOSO CARBAJAL</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630015</td><td>MARIA FERNANDA ESTEVEZ CASTAÑEDA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630016</td><td>EDWARD LEONARDO VIVEROS URIBE</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630020</td><td>EMMANUEL GARCIA LIBRADO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630026</td><td>AURORA SERRANO RAMIREZ</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630030</td><td>CESAR MANUEL BANUET MORALES</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630032</td><td>LUIS ANGEL LIMON HERNANDEZ</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630036</td><td>SANTIAGO MENDEZ GARCIA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630038</td><td>GENESIS ABRIL REYES SOTO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630040</td><td>NELLY MARIANA MENDOZA VENTURA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630047</td><td>ESTEFANY YURIDIA NAVA ENGALLO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630052</td><td>AXEL IVAN HERNANDEZ LOPEZ</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630055</td><td>KARLA NOEMI CORTEZ SANTIAGO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630056</td><td>LESLIE AYLIN HERNANDEZ LARA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630057</td><td>ALEXA MUCIÑO MEZA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630074</td><td>MAXIMILIANO FLORES GARCIA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630087</td><td>ANGEL ADAIR LOPEZ MORENO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630091</td><td>FATIMA ALLISON SANCHEZ SANTOS</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630093</td><td>NATALY DANIELA SERRANO GARCIA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630104</td><td>ROMINA MENDOZA BUSTAMANTE</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630105</td><td>CRISTIAN URIEL NAVA IBAÑEZ</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630106</td><td>ALBERTO ADAIR CASTILLO SALAZAR</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630115</td><td>ISAAC SAEED BARRETO LEYVA</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630117</td><td>SOFIA DEL ROSARIO REYES</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630124</td><td>IVAN NECHA ZAUCO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630144</td><td>JESUS EMILIANO HERNANDEZ MONTIEL</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630146</td><td>SAMANTHA FAJARDO CAMINO</td><td>Matutino</td><td>301</td><td>3</td></tr>
            <tr><td>24415082630148</td><td>CINTHIA SOFIA LOPEZ AGUILAR</td><td>Matutino</td><td>301</td><td>3</td></tr>
        </tbody>
    </table>
    <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 301 Matutino</footer>
</body>
</html>

