<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alumnos Grupo 302</title>
  <link rel="stylesheet" href="../static/12.css">
</head>
<body>
  <h1>Grupo 302 - Matutino - Semestre 3</h1>
  <table border="1">
    <tr>
      <th>Número de Control</th>
      <th>Nombre Completo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Semestre</th>
    </tr>
    <tr><td>24415082630004</td><td>ABISAI QUIROZ MARTINEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630007</td><td>NAYELI ALEXANDRA PERON NAVA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630024</td><td>ERICK AHARON OLVERA CRUZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630028</td><td>JESUS IVAN MONTESINOS GUTIERREZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630035</td><td>OMAR REYES TOMATE</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630041</td><td>JORGE CAYETANO MONDRAGON</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630050</td><td>ARTURO CARDONA MENDEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630053</td><td>MILDRED AZUL CARDENAS LOPEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630059</td><td>BARBARA MONSERRATH FLORES RAMIREZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630060</td><td>DYLAN YAEL HERNANDEZ MARTINEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630062</td><td>JUAN CARLOS ALVAREZ ORTIZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630064</td><td>JOSE EDUARDO OLARTE BAENA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630066</td><td>RICARDO ANTONIO GARCIA RENDON</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630069</td><td>ERICK DE LA CRUZ HERNANDEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630073</td><td>ISRAEL CIMA CORDERO</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630080</td><td>FRIDA XIADANY NAVA FERREYRA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630086</td><td>EDWIN CERVANTES CELEDONIO</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630101</td><td>GUSTAVO HERNANDEZ GARCIA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630118</td><td>ALONSO ZAID CRUZ MARTINEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630121</td><td>ABRAHAM MUÑOZ HERNANDEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630122</td><td>DIANA IVEET NAVA FRANCO</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630123</td><td>FLOR SANCHEZ FELIPE</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630126</td><td>EDGAR RODRIGUEZ HERRERA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630129</td><td>KARLA NITZY AVILA HERNANDEZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630130</td><td>DANIEL MARTINEZ ZEPETA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630133</td><td>LISSANDRO GUTIERREZ BARRIOS</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630134</td><td>LILIANA ESTEFANI NAVA GUTIERREZ</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630140</td><td>DANIELA JORDAN BARRERA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630141</td><td>OMAR ANTONIO FERREYRA PIÑA</td><td>Matutino</td><td>302</td><td>3</td></tr>
    <tr><td>24415082630143</td><td>JUAN DIEGO CAYETANO CURRILLA</td><td>Matutino</td><td>302</td><td>3</td></tr>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
          <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 302 Matutino</footer>
</body>
</html>
