<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alumnos Grupo 303 - Vespertino</title>
  <link rel="stylesheet" href="../static/12.css">

</head>
<body>
  <h1>Grupo 303 - Vespertino - Semestre 3</h1>
  <table border="1">
    <tr>
      <th>Número de Control</th>
      <th>Nombre Completo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Semestre</th>
    </tr>
    <tr><td>24415082630001</td><td>ROGELIO EMMANUEL CRUZ RUIZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630017</td><td>CAMILA SANCHEZ CHICHO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630025</td><td>ANDREA SAYURI CASTAÑEDA GUERRERO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630033</td><td>MARCOS GUADALUPE CAMACHO RODRIGUEZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630037</td><td>JONATHAN GABRIEL CABALLERO HERNANDEZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630039</td><td>YANI VALERIA TORRES NERI</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630044</td><td>VIOLETA CYRENE MALDONADO DE LA CRUZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630046</td><td>ISAAC GARCIA PEREZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630048</td><td>CRISTOPHER GENARO MORALES SAUCEDO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630068</td><td>RENATA FONSECA CALVARIO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630072</td><td>OSVALDO FRANCO BRAVO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630081</td><td>JESUS HERNANDEZ VELAZQUEZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630083</td><td>HANNAH SANDOVAL GIL</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630084</td><td>SEBASTIAN BECERRIL MARIN</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630090</td><td>DULCE MARIA FONSECA SEVERO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630098</td><td>AXEL NICOLAS SUAREZ DAMIAN</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630102</td><td>VERONICA GARCIA MIRANDA</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630108</td><td>ANAHI GUADALUPE GUTIERREZ TECO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630109</td><td>JOSSELYN VALERIA RUIZ CERON</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630110</td><td>ANGEL ANTONIO TABACO AGUSTIN</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630112</td><td>CRISTOPHER YAEL BERNAL TREJO</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630119</td><td>ESTEFANIA REYES MARTINEZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630120</td><td>BRAYAN VARGAS LIMAS</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630128</td><td>OMAR AURELIO OSORIO FRIAS</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630132</td><td>JONATHAN RODRIGUEZ SAN JUAN</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630135</td><td>EMILIANO GUTIERREZ GUTIERREZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630142</td><td>DYLAN JOAQUIN SANTIAGO QUIROZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630145</td><td>PAMELA ADAMARIS OROZCO MORALES</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>24415082630147</td><td>ROBERTO ROSAS TOVAR</td><td>Vespertino</td><td>303</td><td>3</td></tr>
    <tr><td>25415082630099</td><td>JESUS SEBASTIAN CARDENAS HERNANDEZ</td><td>Vespertino</td><td>303</td><td>3</td></tr>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
          <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 303 Vespertino</footer>
</body>
</html>
