<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alumnos Grupo 304 - Vespertino</title>
  <link rel="stylesheet" href="../static/12.css">

</head>
<body>
  <h1>Grupo 304 - Vespertino - Semestre 3</h1>
  <table border="1">
    <tr>
      <th>Número de Control</th>
      <th>Nombre Completo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Semestre</th>
    </tr>
    <tr><td>24415082630002</td><td>KEVIN DANIEL VALLEJO RAMIREZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630014</td><td>TANIA JULISSA JUAREZ HERRERA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630019</td><td>BRITTANY PILAR CASTELLANOS ITURBE</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630027</td><td>DULCE VIOLETA NERI AVILA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630029</td><td>LUIS GABRIEL ENTZANA GARCIA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630031</td><td>ADRIANA ISIDRO LUCERO</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630034</td><td>KARLA LIZET REYES PEREZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630043</td><td>THAYLI CRISTAL HERNANDEZ CHINO</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630045</td><td>RENATA CAXNAJOY ARTEAGA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630061</td><td>ZOE ANDREA SANCHEZ ESPINOZA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630065</td><td>TAYDE ESMERALDA SANCHEZ PEREZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630070</td><td>JOSE SANTIAGO HERNANDEZ ROMERO</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630071</td><td>ARACELI NAZARIO NIXCOMEL</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630075</td><td>SARIEL ABIRAM FLORES ANGELES</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630077</td><td>JULIO CESAR CARRERA EROCHA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630078</td><td>FERNANDO JONATHAN SILVERIO DE LA VARA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630085</td><td>EDUARDO BEDOLLA REYES</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630088</td><td>LEONARDO CENTENO GONZALEZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630094</td><td>JESUS ADRIAN GARCIA LOPEZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630095</td><td>XIMENA TAYDE VALDEZ HERNANDEZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630100</td><td>CARLOS GUTIERREZ MONTIEL</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630103</td><td>ANGEL YAHIR RAZO DE LA CRUZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630113</td><td>JIMENA ESCOBEDO MARCIANO</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630114</td><td>JOSUE YOVANI BALTAZAR MAJAN</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630127</td><td>MIGUEL VENTURA GUTIERREZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630136</td><td>ARANZA AZUL FLORES ERETZA</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630138</td><td>JOSE RAMON GARCIA CRUZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630149</td><td>WENDI SAUCO ESQUIVEL</td><td>Vespertino</td><td>304</td><td>3</td></tr>
    <tr><td>24415082630151</td><td>ALEXIA GISELLE PEREZ RAMIREZ</td><td>Vespertino</td><td>304</td><td>3</td></tr>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
          <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 304 Vespertino</footer>
</body>
</html>
