<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alumnos Grupo 501 - Matutino</title>
  <link rel="stylesheet" href="../static/12.css">

</head>
<body>
  <h1>Grupo 501 - Matutino - Semestre 5</h1>
  <table border="1">
    <tr>
      <th>Número de Control</th>
      <th>Nombre Completo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Semestre</th>
    </tr>
    <tr><td>23415082630014</td><td>ERIKA ALVAREZ MENDEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630016</td><td>RICARDO MARTINEZ NERI</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630027</td><td>DARIEN ALBERTO MONTOYA RAMIREZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630031</td><td>JOSHUA ALVARADO ORTIZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630032</td><td>MIRIAM RODRIGUEZ GARCIA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630037</td><td>MAGALLY MONI AGUSTIN</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630038</td><td>OSCAR CURRILLA CRUZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630039</td><td>LUIS ANTONIO PIEDRA MUCIÑO</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630053</td><td>ALONDRA MORENO FLORES</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630063</td><td>ROBERTO ENGALLO GARCIA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630064</td><td>ANDREA PAOLA CESAREO BONILLA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630082</td><td>JUAN MANUEL FLORES GARCIA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630085</td><td>XIMENA HERMENEGILDO VAZQUEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630088</td><td>ANTONIO ZAVALA SANCHEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630093</td><td>LUIS FERNANDO SILVA MONTOYA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630094</td><td>ALAN URIEL MARTINEZ ASCENCIO</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630095</td><td>YAMILETH DE LA CRUZ DE LA CRUZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630098</td><td>WENDY ANELI CABRERA MARTINEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630101</td><td>ABRAHAM REYES SANCHEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630104</td><td>HECTOR NAIN MENDIOLA ALVEAR</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630112</td><td>JOHANNA BERENICE AYALA MARTINEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630119</td><td>SANTIAGO CASTILLO BETANCOURT</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630120</td><td>JOSE JAVIER ALDAMA CAXNAJOY</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630122</td><td>DANIEL BOLAÑOS GONZALEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630132</td><td>EMILIANO JOSMAR NAVA PEÑALOZA</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630140</td><td>MARIA FERNANDA ALVAREZ MENDEZ</td><td>Matutino</td><td>501</td><td>5</td></tr>
    <tr><td>23415082630142</td><td>MARIA VALENTINA PEREZ GUZMAN</td><td>Matutino</td><td>501</td><td>5</td></tr>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 501 Matutino</footer>
</body>
</html>
