<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo 502 - Matutino</title>
  <link rel="stylesheet" href="../static/12.css">

</head>
<body>
  <h1>Lista de Alumnos - Grupo 502 (Matutino - 5° Semestre)</h1>
  <table border="1">
    <tr>
      <th>Número de Control</th>
      <th>Nombre Completo</th>
      <th>Turno</th>
      <th>Grupo</th>
      <th>Semestre</th>
    </tr>
    <tr><td>23415082630009</td><td>KARLA MARIEL EROCA ARZALUZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630010</td><td>JOSELYN SOLIS RAMIREZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630018</td><td>MONTSERRAT SEGURA SENCIANA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630026</td><td>MELISA CASTILLO VAZQUEZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630029</td><td>FERNANDA MICHELLE MARTINEZ ALVAREZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630041</td><td>KEVIN JAVIER VENTURA ROMERO</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630048</td><td>VANESSA MONTIEL RAMIREZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630049</td><td>JULIA ESMERALDA VAZQUEZ NAVA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630051</td><td>CAMILA ROCHA ROMERO</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630058</td><td>ABIGAIL MARTINEZ CRUZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630066</td><td>UZIEL ANTONIO URBINA GARCIA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630067</td><td>DANIEL PERALES TITO</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630069</td><td>SARA IMELDA NIXCOMEL GRANADOS</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630070</td><td>MARIA FERNANDA GUTIERREZ BAEZA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630074</td><td>VALERIA RUBI URBINA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630075</td><td>ISRAEL EDUARDO CHICHO AYALA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630081</td><td>SARA YUDETH TENORIO SANDOVAL</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630087</td><td>ADRIAN COLORADO MARQUEZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630091</td><td>VALENTINA CAXNAJOY ARTEAGA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630092</td><td>ABRIL NATASHA BASTIDA HUERTA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630096</td><td>KEVIN DANIEL HERNANDEZ RAMOS</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630097</td><td>PAMELA GUADALUPE RAMIREZ GARCIA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630110</td><td>CELESTE ESTRADA MENDOZA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630111</td><td>ALESSANDRA PIÑA ENCINO</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630113</td><td>SANTIAGO REYES TORRES</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630114</td><td>MELISSA SALINAS NAVA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630117</td><td>GERALDINEE LUNA HERNANDEZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630123</td><td>ALENNE DE LA CALLEJA RUIZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630127</td><td>LUIS DANIEL JUAREZ ESPINOSA</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630129</td><td>DANIELA VAZQUEZ GOMEZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630137</td><td>EMILIANO SANCHEZ SANCHEZ</td><td>Matutino</td><td>502</td><td>5</td></tr>
    <tr><td>23415082630144</td><td>DAYANA LUCERO PALLARES</td><td>Matutino</td><td>502</td><td>5</td></tr>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
            <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
        <footer>© 2025 | Registro Académico - Grupo 502 Matutino</footer>
</body>
</html>
