<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Alumnos - Grupo 504 Vespertino</title>
  <link rel="stylesheet" href="../static/12.css">

</head>
<body>

  <h1>Lista de Alumnos</h1>
  <h2>Grupo 504 - Turno Vespertino - Semestre 5</h2>

  <table>
    <thead>
      <tr>
        <th>Número de Control</th>
        <th>Nombre Completo</th>
        <th>Turno</th>
        <th>Grupo</th>
        <th>Semestre</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>23415082630002</td><td>LUIS ALBERTO BAHENA HERNANDEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630004</td><td>ESTEFANIA DOMINGUEZ REYES</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630005</td><td>ANGEL ALEJANDRO LOPEZ HERNANDEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630011</td><td>MONICA MICHELLE FLORES SANTIAGO</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630013</td><td>EMILIO PEREZ VAZQUEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630017</td><td>FERNANDA ALVAREZ SANTOS</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630019</td><td>ERICK MARTIN RODRIGUEZ MORALES</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630021</td><td>JAZMIN MORALES LOPEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630022</td><td>CAMILA JIMENEZ CASTRO</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630023</td><td>DIEGO ALEJANDRO VAZQUEZ MARTINEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630030</td><td>NATALIA MARTINEZ ROMERO</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630033</td><td>MARCO ANTONIO PEREZ NAVA</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630040</td><td>DULCE MARIA RIVERA LOPEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630043</td><td>BRANDON MENDOZA CRUZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630044</td><td>YAMILETH CASTAÑEDA ORTIZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630046</td><td>ALAN JARED AGUILAR CRUZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630052</td><td>DANIA PAOLA MORENO REYES</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630056</td><td>MARIA JOSE CAMPOS AGUILAR</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630059</td><td>IVAN ALEXIS GONZALEZ PEREZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630061</td><td>JIMENA GUADALUPE GARCIA HERNANDEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630062</td><td>ANGEL EDUARDO GARCIA MORA</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630063</td><td>MARIA FERNANDA PEREZ ZAVALA</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630064</td><td>LUIS ANTONIO RIVERA VILLALBA</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630066</td><td>XIMENA TORRES JUAREZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630077</td><td>ARIEL GABRIEL MENDEZ ZARATE</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630078</td><td>MARIA FERNANDA ALDAMA ROMERO</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630079</td><td>LESLY SANTOS TORRES</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630082</td><td>EMILIO GONZALEZ PEREZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630085</td><td>LUIS ALBERTO ROSAS CRUZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630087</td><td>ANDREA SANTIAGO NAVA</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630088</td><td>DANIEL RODRIGUEZ PEREZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
      <tr><td>23415082630102</td><td>ITZEL DELGADO SANCHEZ</td><td>Vespertino</td><td>504</td><td>5</td></tr>
    </tbody>
  </table>
  <!-- BOTÓN VOLVER -->
        <div class="volver-container">
          <a href="{{ url_for('grupos') }}" class="btn-volver">⬅️ Volver a Grupos</a>
        </div>
  <footer>© 2025 | Registro Académico - Grupo 504 Vespertino</footer>
</body>
</html>
